* {
    box-sizing: border-box;


}
body {
    margin: 0;
}


/* the whole header with <ul> list 1 and 2 + logo*/
nav {
    background: #575252;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/*first and second list on the right and left side of header*/

ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: flex-end;

    flex-direction: row; justify-content: flex-start;

    align-items: center;
}
nav a {
    text-decoration: none;
    color: #2ac92a;
    font-family: Verdana;
    padding: .5em;
    display: inline-block



}
nav a:hover {
    background: #372cc2;
    hover: #941148;

}




