body{
    display: flex;

    flex-direction: column;

    margin: 1em;

    justify-content: center;

}


#main.main{
    display: none;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;

}

/*COMPANY*/
h1{
    font-size: 45px;
    margin: 10px auto;


    }

/*list*/
nav{
    display: flex;

    flex-direction: column;

    margin:1em auto;


}





li{
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 5px auto;
    align-items: flex-end;
}






/*picture*/
img{

    display: flex;

    width: 100%;

    height: 225px;

    justify-content: space-around ;

}


.alert-info{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #4ca7e5;
    flex-direction: row;

}

.alert-info > a{
    color: black;
    padding: 1em;
}



/*DESKTOP VERSION*/


@media screen and (min-width:500px) {


    body{
        display: flex;

        flex-direction: column;

        margin: 1em;

        justify-content: space-between;

    }




    /*COMPANY*/
    h1{
        display: flex;
        font-size: 45px;
        margin: 10px ;
        justify-content: flex-start;
    }





    .nav-links{
        display: flex;

        flex-direction: row;
        list-style: none;


    }


   list{
       display: flex;

       padding: 10px;
       margin: 0;
       justify-content: flex-end;
   }





    /*picture*/
    img{

        display: flex;

        width: 100%;

        height: 225px;

        flex-direction: row;

        justify-content: space-around ;

    }




    /*skip content button disappeared*/
    .alert-info{
        display: none;
        width: 100%;
        justify-content: flex-end;
        background-color: #4ca7e5;
        flex-direction: row;

    }

    .alert-info > a{
        color: black;
        padding: 1em;
    }




}






/* paragraphs*/



#main.main{
    display: flex;
    background-color: #ffffff;
    /*margin-right: 250px;*/
    /*width: 300em;*/
    flex-direction: column;

}

.sub-section{
    display: flex;
    /*margin-left: 300px;*/
    /*width: 400em;*/
    margin: auto;


}


footer{
    display: flex;


    /*margin-top: 500px;*/
}





































