body{
    display: flex;

    flex-direction: column;

    margin: 1em;

    /*justify-content: center;*/

}


#main{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    /*justify-content: center;*/

}

/*COMPANY*/
/*h1{*/
/*    font-size: 45px;*/
/*    margin: 10px auto;*/
/*    }*/

/*list*/
nav{
    display: flex;

    flex-direction: column;

    margin:1em auto;


}


.nav-links{
    display: flex;

    padding: 10px;

    margin: auto;

    flex-direction: column


}


li{
    display: flex;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    margin: 5px auto;
    border: 10em;
    align-items: flex-end;
}






/*picture*/
img{

    display: flex;

    width: 100%;

    height: 225px;

    justify-content: space-around ;

}


.alert-info{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #4ca7e5;
    /*border: 1.5px salmon;*/
    flex-direction: row;

}

.alert-info > a{
    color: black;
    padding: 1em;
}



/*DESKTOP VERSION*/


@media screen and (min-width:800px) {


    body{
        display: flex;

        flex-direction: column;

        margin: 1em;

        justify-content: space-between;

    }




    /*COMPANY*/
    h1{
        display: flex;
        font-size: 45px;
        margin: 10px ;
        justify-content: flex-start;
    }





    .nav-links{
        display: flex;

        padding: 10px;

        flex-direction: row;
        list-style: none;

        justify-content: space-between;

    }


   /*list{*/
   /*    list-style: none;*/
   /*    padding: 10px;*/
   /*    margin: 0;*/
   /*    display: none;*/
   /*    justify-content: flex-end;*/
   /*}*/





    /*picture*/
    img{

        display: flex;

        width: 100%;

        height: 225px;

        flex-direction: row;

        justify-content: space-around ;

    }




    /*skip content button disappeared*/
    .alert-info{
        display: none;
        width: 100%;
        justify-content: flex-end;
        background-color: #4ca7e5;
        flex-direction: row;

    }

    .alert-info > a{
        color: black;
        padding: 1em;
    }




}






/* paragraphs*/


section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}



.sub-section{
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    width: 300px;


}




#main{
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
    width: 300px;

}






























